@font-face {
  font-family: 'Geomanist';
  src: url("geomanist-medium-webfont.eot");
  src: url("geomanist-medium-webfont.eot#iefix") format("embedded-opentype"), url("geomanist-medium-webfont.woff2") format("woff2"), url("geomanist-medium-webfont.woff") format("woff"), url("geomanist-medium-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Geomanist';
  src: url("geomanist-regular-webfont.eot");
  src: url("geomanist-regular-webfont.eot#iefix") format("embedded-opentype"), url("geomanist-regular-webfont.woff2") format("woff2"), url("geomanist-regular-webfont.woff") format("woff"), url("geomanist-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}