.ant-fade-enter, .ant-fade-appear, .ant-fade-leave {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}

.ant-fade-enter.ant-fade-enter-active, .ant-fade-appear.ant-fade-appear-active {
  -webkit-animation-name: antFadeIn;
  animation-name: antFadeIn;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.ant-fade-leave.ant-fade-leave-active {
  -webkit-animation-name: antFadeOut;
  animation-name: antFadeOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none
}

.ant-fade-enter, .ant-fade-appear {
  opacity: 0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}

.ant-fade-leave {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}

@-webkit-keyframes antFadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes antFadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes antFadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes antFadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.ant-move-up-enter, .ant-move-up-appear, .ant-move-up-leave {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}

.ant-move-up-enter.ant-move-up-enter-active, .ant-move-up-appear.ant-move-up-appear-active {
  -webkit-animation-name: antMoveUpIn;
  animation-name: antMoveUpIn;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.ant-move-up-leave.ant-move-up-leave-active {
  -webkit-animation-name: antMoveUpOut;
  animation-name: antMoveUpOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none
}

.ant-move-up-enter, .ant-move-up-appear {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
  animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.ant-move-up-leave {
  -webkit-animation-timing-function: cubic-bezier(.6, .04, .98, .34);
  animation-timing-function: cubic-bezier(.6, .04, .98, .34)
}

.ant-move-down-enter, .ant-move-down-appear, .ant-move-down-leave {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}

.ant-move-down-enter.ant-move-down-enter-active, .ant-move-down-appear.ant-move-down-appear-active {
  -webkit-animation-name: antMoveDownIn;
  animation-name: antMoveDownIn;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.ant-move-down-leave.ant-move-down-leave-active {
  -webkit-animation-name: antMoveDownOut;
  animation-name: antMoveDownOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none
}

.ant-move-down-enter, .ant-move-down-appear {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
  animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.ant-move-down-leave {
  -webkit-animation-timing-function: cubic-bezier(.6, .04, .98, .34);
  animation-timing-function: cubic-bezier(.6, .04, .98, .34)
}

.ant-move-left-enter, .ant-move-left-appear, .ant-move-left-leave {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}

.ant-move-left-enter.ant-move-left-enter-active, .ant-move-left-appear.ant-move-left-appear-active {
  -webkit-animation-name: antMoveLeftIn;
  animation-name: antMoveLeftIn;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.ant-move-left-leave.ant-move-left-leave-active {
  -webkit-animation-name: antMoveLeftOut;
  animation-name: antMoveLeftOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none
}

.ant-move-left-enter, .ant-move-left-appear {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
  animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.ant-move-left-leave {
  -webkit-animation-timing-function: cubic-bezier(.6, .04, .98, .34);
  animation-timing-function: cubic-bezier(.6, .04, .98, .34)
}

.ant-move-right-enter, .ant-move-right-appear, .ant-move-right-leave {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}

.ant-move-right-enter.ant-move-right-enter-active, .ant-move-right-appear.ant-move-right-appear-active {
  -webkit-animation-name: antMoveRightIn;
  animation-name: antMoveRightIn;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.ant-move-right-leave.ant-move-right-leave-active {
  -webkit-animation-name: antMoveRightOut;
  animation-name: antMoveRightOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none
}

.ant-move-right-enter, .ant-move-right-appear {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
  animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.ant-move-right-leave {
  -webkit-animation-timing-function: cubic-bezier(.6, .04, .98, .34);
  animation-timing-function: cubic-bezier(.6, .04, .98, .34)
}

@-webkit-keyframes antMoveDownIn {
  0% {
    transform: translateY(100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@keyframes antMoveDownIn {
  0% {
    transform: translateY(100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@-webkit-keyframes antMoveDownOut {
  0% {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translateY(100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@keyframes antMoveDownOut {
  0% {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translateY(100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@-webkit-keyframes antMoveLeftIn {
  0% {
    transform: translate(-100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@keyframes antMoveLeftIn {
  0% {
    transform: translate(-100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@-webkit-keyframes antMoveLeftOut {
  0% {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translate(-100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@keyframes antMoveLeftOut {
  0% {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translate(-100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@-webkit-keyframes antMoveRightIn {
  0% {
    transform: translate(100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@keyframes antMoveRightIn {
  0% {
    transform: translate(100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@-webkit-keyframes antMoveRightOut {
  0% {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translate(100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@keyframes antMoveRightOut {
  0% {
    transform: translate(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translate(100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@-webkit-keyframes antMoveUpIn {
  0% {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@keyframes antMoveUpIn {
  0% {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0
  }

  to {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }
}

@-webkit-keyframes antMoveUpOut {
  0% {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@keyframes antMoveUpOut {
  0% {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1
  }

  to {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0
  }
}

@-webkit-keyframes loadingCircle {
  to {
    transform: rotate(360deg)
  }
}